* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.grid {
  display: flex;
  justify-content: center;
  border: solid 1px black;
  margin: 3em;
  max-width: 50rem;
}

.grid-col {
  flex: 1;
}

.grid-cell {
  border: solid 1px red;
}

.color {
  background-color: black;
}
